.slideLeftToRight {
    animation: slideLeftToRight 2s ease-in-out 1 forwards;
}

@keyframes slideLeftToRight {
    0% {
        transform: translate(-70vw, 0);
    }

    80% {
        transform: translate(2vw, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.slideRightToLeft {
    animation: slideRightToLeft 2s ease-in-out 1 forwards;
}

@keyframes slideRightToLeft {
    20% {
        transform: translate(-2vw, 0);
    } 100% {
        transform: translate(70vw, 0);
    }
}

