@import url(animations.css);

body {
  margin: 0;
  overflow-x: hidden;
}

.hidden{
    display: none;
}

.grid_container {
  display: grid;
  grid-template-areas:
    "he"
    "se"
    "fo";
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-columns: 1fr;
}

/*====================== HEADER ======================*/

.grid_header {
  grid-area: he;
  background-color: blue;
  border: 1px solid black;
  color: bisque;
  text-align: center;
}

/*====================== MAIN ======================*/

.grid_section {
  background-color: beige;
  grid-area: se;

}

#section_content{
  /* padding-top: 20vh;
  padding-bottom: 100vh; */
  margin-top: 100px;
  position: absolute;
  left: 5%;
    
}

#add_person_button{
    margin-bottom: 5px;
}

#main_table {
  background-color: antiquewhite;
  border-collapse: collapse;
  overflow-y:scroll;
  height:300px;
  display:block;
  
}

#main_table td {
  border: 1px solid brown;
  padding-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#first_row {
  font-weight: bold;
}

#table_first_name_padding {
  padding-right: 50px;
}

#table_last_name_padding {
  padding-right: 50px;
}

#table_email_padding {
  padding-right: 150px;
}

#table_number_padding {
  padding-right: 30px;
}

/*====================== NEW PERSON ======================*/


#add_new_person_popup{
    position: absolute;
    border-radius: 25px;
    left: 40%;
    top: 50%;
    background-color: green;
    height: 350px;
    width: 500px;
    z-index: 2;
}

#add_new_person_popup h2{
    text-align: center;
}

#add_new_person_popup label, #add_new_person_popup input{
    position: relative;
    left: 10%;
    padding-left: 5px;
}

#add_new_person_popup label{
    
}

#add_new_person_popup input{
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    width: 75%;
}

#button_close{
    position: relative;
    top: 5%;
    left: 10%;
}

#button_add{
    position: relative;
    top: 5%;
    left: 68.3%;
}

#button_add:hover, #button_close:hover, #add_person_button:hover{
    cursor: pointer;
}


/*====================== FOOTER ======================*/

.grid_footer {
  grid-area: fo;
  background-color: grey;
  text-align: center;
}
